
pre{
    color: blueviolet;
}
fieldset{
     width: 500px;
     height: 300px;
}

/* .one,#two  {
    background-color: black;
    color: cadetblue;
} */



 /* *{ 
    background-color: black;
    color: aqua;

}  */